In [4]:
import pandas as pd
import numpy as np

In [2]:
# http://data.seoul.go.kr/dataList/OA-12034/S/1/datasetView.do;jsessionid=5C453CDEE792E4870E616A5FFBFF877E.new_portal-svr-11
# 이용허락범위: 이용범위제한없음
df = pd.read_excel("서울교통공사_역간거리.xlsx")

In [5]:
df.head()

    호선    역명  역간거리(km)  누계(km)
0  1호선   서울역       0.0     0.0
1  1호선    시청       1.1     1.1
2  1호선    종각       1.0     2.1
3  1호선  종로3가       0.8     2.9
4  1호선  종로5가       0.9     3.8

In [7]:
stations = pd.DataFrame(df, columns=["역명"])
stations.describe()

                    역명
count              281
unique             246
top     동대문역사문화공원(DDP)
freq                 3

In [11]:
# 이건 정점으로 쓸 거니까 중복은 필요 없음
stations = stations.drop_duplicates()
stations.describe()

         역명
count   246
unique  246
top      마곡
freq      1

In [12]:
stations.head()

     역명
0   서울역
1    시청
2    종각
3  종로3가
4  종로5가

In [21]:
# 한글 변수명을 처리하기가 귀찮으니 영어로 바꾸고 저장
stations = stations.rename(columns={"역명": "name"})
stations.head()
# 저장하기는 하는데 대충 눈으로 데이터 흘겨보기는 해야 하니 pretty-print 먹인 상태로 추출
stations.to_json("stations.json", orient="records", indent=2)