In [2]:
import pandas as pd
import numpy as np

In [3]:
# http://data.seoul.go.kr/dataList/OA-12034/S/1/datasetView.do;jsessionid=5C453CDEE792E4870E616A5FFBFF877E.new_portal-svr-11
# 이용허락범위: 이용범위제한없음
df = pd.read_excel("서울교통공사_역간거리.xlsx")

In [4]:
df.head()

    호선    역명  역간거리(km)  누계(km)
0  1호선   서울역       0.0     0.0
1  1호선    시청       1.1     1.1
2  1호선    종각       1.0     2.1
3  1호선  종로3가       0.8     2.9
4  1호선  종로5가       0.9     3.8

In [5]:
stations = pd.DataFrame(df, columns=["역명"])
stations.describe()

         역명
count   281
unique  246
top      시청
freq      3

In [6]:
# 이건 정점으로 쓸 거니까 중복은 필요 없음
stations = stations.drop_duplicates()
stations.describe()

         역명
count   246
unique  246
top     동대문
freq      1

In [7]:
stations.head()

     역명
0   서울역
1    시청
2    종각
3  종로3가
4  종로5가

In [8]:
# 한글 변수명을 처리하기가 귀찮으니 영어로 바꾸고 저장
stations = stations.rename(columns={"역명": "name"})
stations.head()
# 저장하기는 하는데 대충 눈으로 데이터 흘겨보기는 해야 하니 pretty-print 먹인 상태로 추출
stations.to_json("stations.json", orient="records", indent=2)

In [23]:
source = list()
dest = list()
weights = list()

for i in range(df.count()[0] - 1):
    left_line = df["호선"][i]
    right_line = df["호선"][i + 1]

    left_name = df["역명"][i]
    right_name = df["역명"][i + 1]

    weight = df["역간거리(km)"][i + 1]
    
    if left_line != right_line:
        print(f"{left_line} != {right_line}")
        continue
 
    source.append(left_name)
    dest.append(right_name)
    weights.append(weight)

edges = pd.DataFrame()
edges["source"] = source
edges["destination"] = dest
edges["distance"] = weights

1호선 != 2호선
2호선 != 3호선
3호선 != 4호선
4호선 != 5호선
5호선 != 6호선
6호선 != 7호선
7호선 != 8호선

In [24]:
edges.head()

  source destination  distance
0    서울역          시청       1.1
1     시청          종각       1.0
2     종각        종로3가       0.8
3   종로3가        종로5가       0.9
4   종로5가         동대문       0.8

In [25]:
edges.to_json("edges.json", orient="records", indent=2)